{% if perms.netbox_device_lifecycle_mgmt.view_hardwarenotice %}
    <div class="row">
        <div class="col col-md-12">
            <div class="card">
                <h5 class="card-header">Software Notice</h5>
                <div class="card-body">
                    <table class="table table-hover attr-table">
                        <tr>
                            <td>Name</td>
                            <td>
                                <a href="{{ object.get_absolute_url }}">{{ object }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Release Date</td>
                            <td>{{ object.release_date|placeholder }}</td>
                        </tr>
                        <tr>
                            <td>End of Support</td>
                            <td>{{ object.end_of_support_date|placeholder }}</td>
                        </tr>
                        <tr>
                            <td>Long Term Support</td>
                            <td>
                                {% if object.long_term_support %}
                                    <span class="badge bg-success">Yes</span>
                                {% else %}
                                    <span class="badge bg-danger">No</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Pre Release</td>
                            <td>
                                {% if object.pre_release %}
                                    <span class="badge bg-success">Yes</span>
                                {% else %}
                                    <span class="badge bg-danger">No</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% if object.documentation_url %}
                            <tr>
                                <td>Documentation URL</td>
                                <td>
                                    <a href="{{ object.documentation_url }}"
                                       target="_blank">{{ object.documentation_url|placeholder }}</a>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endif %}
